@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* Color */
:root {
    --black: #000000;
    --white: #ffffff;
    --green: #15803D;
    --light-green: #33a968;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.modal-title,
.btn-secondary,
label.col-form-label{
    font-size:1.5rem !important;
}

/* Navbar section */
.nav {
    padding-top:20px;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: var(--black);
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: var(--green);
}

.nav div.logo img {
    width: 40px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: var(--black);
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li button {
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    font-size: 2rem;
    padding: 1rem 2rem;
}

.nav div.main_list ul li button:hover {
    background-color: var(--light-green);
}

.nav div.main_list ul li a:hover {
    color: var(--green);
}


/* Home section */

.home {
    width: 100%;
    height: 50vh;
    background-image: url(img/background.jpg);
    background-position:center;
	background-size:cover;
    background-repeat: no-repeat;
}

.navTrigger {
    display: none;
}

.nav {
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Plant & Annonce */
.plant{
    background-color: var(--white);
    z-index: 998;
    width: 100%;
}

.plant h2.title,
.annonce h2.title{
    font-weight: 500;
    color: var(--green)
}
.plant .custom-container{
    padding: 0 10px;
}
.plant-img{
    position: relative;
}
.plant button,
button.btn-send{
    background-color: var(--green);
    color: var(--white);
    font-size:1.5rem;

}
.plant button:hover{
    background-color: var(--light-green);
    color: var(--white);

}

.annonce .card {
    width: 35rem;
} 

.annonce .card img{
    min-height: 30rem;
    max-height: 30rem;
}

.annonce .card-title{
    font-size:2.5rem;
}

.annonce .card-text{
    font-size:1.5rem;
}

.annonce button{
    background-color: var(--green);
    color: var(--white);
    font-size:1.5rem;
}
.annonce button:hover{
    background-color: var(--light-green);
    color: var(--white);

}

/* Carousel */
.wrapper {
max-width: 1100px;
width: 100%;
position: relative;
transform: translateX(-50%);
left: 50%;
overflow-x: hidden;
}
.wrapper i {
z-index:30;
top: 50%;
height: 50px;
width: 50px;
cursor: pointer;
font-size: 1.25rem;
position: absolute;
text-align: center;
line-height: 50px;
background: #fff;
border-radius: 50%;
box-shadow: 0 3px 6px rgba(0,0,0,0.23);
transform: translateY(-50%);
transition: transform 0.1s linear;
}
.wrapper i:active{
transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
left: -22px;
}
.wrapper i:last-child{
right: -22px;
}
.wrapper .carousel{
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 4) - 12px);
overflow-x: auto;
scroll-snap-type: x mandatory;
gap: 8px;
border-radius: 8px;
scroll-behavior: smooth;
scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
display: none;
}
.carousel.no-transition {
scroll-behavior: auto;
}
.carousel.dragging {
scroll-snap-type: none;
scroll-behavior: auto;
}
.carousel.dragging .card {
cursor: grab;
user-select: none;
}
.carousel :where(.card, .img) {
display: flex;
justify-content: center;
align-items: center;
}
.carousel .card {
scroll-snap-align: start;
height: 342px;
list-style: none;
background: #fff;
cursor: pointer;
padding-bottom: 15px;
flex-direction: column;
border-radius: 8px;
}
.carousel .card .img {
background: var(--green);
height: 148px;
width: 148px;
border-radius: 50%;
}
.card .img img {
width: 140px;
height: 140px;
border-radius: 50%;
object-fit: cover;
border: 4px solid #fff;
}
.carousel .card h2 {
font-weight: 500;
font-size: 1.56rem;
margin: 30px 0 5px;
}
.carousel .card span {
color: #6A6D78;
font-size: 1.31rem;
}

/* Footer */
footer section {
    background-color: var(--green);
    color:var(--white);
    display: block ;
    width: 100%;
    border-radius: 30px 30px 0px 0px !important;
}
/* Media qurey section */
@media screen and (max-width:1200px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    .annonce .row .img img {
        width: 400px;
        height: 400px;
    } 
    /* Card */
    .annonce .card {
        width: 30rem;
    } 
}
@media screen and (max-width:767px) {

    /* Nav */
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--white);
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }

    /* Carousel */
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .annonce .row .img img {
        width: 400px;
        height: 400px;
    } 

    /* Modal */
    .modal textarea{
        height:100vh;
    }
    /* Card */
    .annonce .card {
        width: 30rem;
    } 
}


/* Animation */
.navTrigger {
    padding-top:20px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: var(--black);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: var(--white);
    z-index: 999;
}

.fix-my-plants{
    position:fixed;
    top:60px;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

#contact {
    margin: 4em auto;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
  }
  
  #contact:hover {
    background: #000000;
  }
  #contact:active {
    background: #444;
  }
  
  #contactForm {
    display: none;
  
    border: 6px solid 3324be;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 16px;
  }

  textarea {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
  }
  textarea {
    height: 80px;
    resize: none;
  }

  .formBtn {
    outline: 0;
    background: #15803d;
    width: 140px;
    height: 30px;
    border: 0;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  